.speech {
    
    color: black;
    font-family:serif;size: 19px;

}
.directions{
    font-family:monospace;
    font-size:15px ;
    color:black;
    background-color: rgb(175, 240, 179);
    
}
.directions:hover{background-color:rgb(255, 238, 51);color:rgb(0, 16, 157);}
.HEDDA{color: rgb(48, 22, 241);font-size:15px;font-family: Arial;}
.MISSTESMAN {COLOR:rgb(255, 0, 0);fONT-size: 20PX;font-family: georgia;}
table{
    padding: 12PX;
    margin-left: 430PX;
    margin-right: 450px;
    margin-top: 20PX;
    margin-bottom: 20PX;
    background-color: rgb(165, 202, 245);
    color: rgb(232, 5, 5);
    BORDER:5PX solid BLUE;


}
th{
    background-color: rgb(245, 249, 253);
    color: rgb(107, 213, 0);
    text-align: center;
    padding: 25px;
    border:2px solid rgb(255, 135, 55);
}th:hover{background-color: rgb(91, 255, 143);color:rgb(38, 36, 176);border-radius: 4px;border-color: rgb(255, 0, 51);}
TD{
    border: 5px rgb(214, 255, 8);
    text-align: left;
    padding: auto;
}
TR{background-color: rgb(128, 253, 135);}
tr:nth-child(even) {
    background-color: #45255d;
  }
  .MISSTESMAN:hover{background-color: rgb(213, 30, 30);color:azure;
text-shadow:9px 1px 2px rgb(6, 78, 38); filter: blur(1px);
}
  .HEDDA:hover{background-color: rgb(24, 24, 100);color:ghostwhite;text-shadow:9px 1px 2px rgb(6, 78, 38); filter: blur(1px);}
  ul.navbar-horizontal{
    list-style-type: none;
    margin: 1px;
    padding: 2px;
}
ul.navbar-horizontal li{
    float: left;
    color: rgb(61, 180, 132);
    background-color: aquamarine;
}
ul.navbar-horizontal a{
    display: block;
    padding: 8px;
}
ul.navbar-horizontol a:hover{
    background-color: rgb(240, 214, 17);
    color: rgb(38, 176, 82)
}
img{padding: auto;}