.speech {
    
    color: black;
    font-family:serif;

}
.directions{
    font-family:monospace;
    font-size:15px ;
    color:black;
    background-color: rgb(175, 240, 179);
    
}
.directions:hover{
    background-color:rgb(255, 238, 51);
    color:rgb(0, 16, 157);
   
}
.BERTA{
    color: rgb(48, 22, 241);
   
   
    font-size:15px;
    font-family: Arial;

    
}
.MISSTESMAN {
    COLOR:rgb(255, 0, 0);
    FONT-size: 20PX;
    font-family: georgia;
   

}